pipeline/Pl_FailActivity.json
{
	"name": "Pl_FailActivity",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "input",
							"wildcardFileName": "Gagan.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SourceCSV",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SinkCSV",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-27.northcentralus.logic.azure.com:443/workflows/c6fe884a4f314da5a5afa25ae12ca9c9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=RCUwokhsJqz9e03d3IRdcp5ebKeZD0UtESNbNsn8V8c",
					"body": {
						"DataFactoryName": "adfahitest",
						"Message": "@{activity('Copy data1').error.message}",
						"PipelineName": "Pl_FailActivity",
						"RunId": "@{pipeline().RunId}"
					}
				}
			},
			{
				"name": "Fail1",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": {
						"value": "@activity('Copy data1').error.message",
						"type": "Expression"
					},
					"errorCode": {
						"value": "@string(activity('Copy data1').error.errorCode)",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "Learn"
		},
		"annotations": [],
		"lastPublishTime": "2023-04-09T03:35:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}